html {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1.7;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
}

body {
    background-image: url(../images/bg-pc.jpg);
    background-image: url(../images/bg-pc.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img {
    width: 100%;
    height: auto;
}

img[src$='.svg'] {
    width: 100%;
}

.lp-wrapper {
    max-width: 500px;
    margin: auto;
    background-image: url(../images/bg-lp.jpg);
    background-image: url(../images/bg-lp.webp);
    background-attachment: fixed;
    background-size: contain;
    background-color: #851a00;
}

/* fv */

#contents_fv {
    position: relative;
    margin-bottom: 390px;
}

.fv-bg video {
    width: 100%;
    height: auto;
    display: block;
}

.fv-cp {
    margin-bottom: 4%;
    padding: 0 2%;
}

.fv-cp img {
    width: 100%;
    height: auto;
}

.fv-ticket-box {
    padding: 0px 2%;
    display: inline-block;
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

/* チケットcss */

.ticket-box {
    border-radius: 6px;
    background: #171717;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.ticket-box h2 {
    border-radius: 6px 6px 0px 0px;
    background: #ffc700;
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
    font-size: 18px;
}

.ticket-box p {
    color: #fff;
}

.ticket-offer-box {
    padding: 4%;
    margin-bottom: 20px;
}

.ticket-fee-box-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.ticket-fee-box-text {
    width: 60%;
}

.ticket-fee-box-text .great {
    background-color: #ffc700;
    border-radius: 30px;
    color: #b40000;
    padding: 5px 22px;
    font-size: 14px;
    width: auto;
    display: inline-block;
    line-height: 1;
    margin-bottom: 6px;
    margin-top: 8px;
}
.ticket-fee-box-text .ticket-name {
    font-size: 16px;
}

.ticket-fee-box-fee {
    text-align: center;
    width: 40%;
}

.ticket-fee-box-fee .former {
    color: #ffc700;
    font-size: 16px;
    text-decoration: line-through;
    margin-bottom: 1px;
}

.ticket-fee-box-fee .price {
    background-color: #ffc700;
    border-radius: 6px;
    color: #b40000;
    font-size: 34px;
    line-height: 1.5;
}

.ticket-fee-box-fee .regular {
    margin-bottom: -5px;
    font-size: 12px;
}

.ticket-fee-box-fee .price span {
    font-size: 18px;
}

.ticket-fee-box-supplement {
    margin: 10px 0;
}

.ticket-fee-box-supplement p {
    color: #7e7e7e;
    font-size: 10px;
}

.ticket-details-box h3 {
    color: #ffc602;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom: 1px solid #ffc602;
    padding-bottom: 10px;
}

.benefits-box {
    background-color: #2a2a2a;
    padding: 20px;
    text-align: center;
}

.benefits-box .benefits-box-title {
    font-size: 16px;
    font-weight: bold;
    color: #ffc602;
    margin-bottom: 20px;
}

.benefits-box .benefits-box-text {
    font-size: 14px;
    color: #ffc602;
}

.benefits-img {
    width: 80%;
    margin: 20px auto;
    display: block;
}

/* button */

.btn-cta a {
    background-color: #fff;
    border: 2px solid #b40000;
    border-radius: 6px;
    text-align: center;
    display: block;
    margin: auto;
    max-width: 360px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #b40000;
    position: relative;
}

.btn-cta a img {
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10%;
}

.btn-etc {
    padding-bottom: 4px;
    text-align: center;
}

.btn-etc a {
    display: inline-block;
    padding-right: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 20px auto 10px auto;
    position: relative;
    border-bottom: 1px solid #fff;
}

.btn-etc a img {
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    padding-bottom: 1px;
}

/* audience */

#contents_referee h2 {
    padding: 0 20px;
    margin-bottom: 40px;
}

#contents_referee .referee-box > img {
    width: 90%;
    margin: auto;
    display: block;
}

#contents_referee .audience_wrapper {
    background-image: url(../images/audience_bg.jpg);
    background-image: url(../images/audience_bg.webp);
    padding: 60px 20px 20px 20px;
    background-size: contain;
    background-repeat: repeat;
    text-align: center;
    margin-top: -50px;
}

#contents_referee .audience_wrapper .cp-01 {
    margin: 10px 0 30px 0;
}

#contents_referee .audience_wrapper .cp-02 {
    color: #ffc700;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
}

/* contents_app */

#contents_app {
    background-color: #ae0027;
    padding: 20px;
}

#contents_app .logo img {
    width: 90%;
    margin: auto;
    display: block;
}

#contents_app .device img {
    width: 60%;
    display: block;
    margin: 20px auto;
}

#contents_app h2 {
    background-color: #ffc700;
    text-align: center;
    display: block;
    margin: 20px auto;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #171717;
    padding: 14px 20px;
    line-height: 1;
}

#contents_app .cp-01 {
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 20px 0 10px 0;
    font-weight: bold;
}

#contents_app .cp-01 > span {
    color: #ffc700;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.2;
    padding: 10px 0;
    display: block;
}

#contents_app .cp-01 > span .cp-01-price {
    font-size: 50px;
}

#contents_app .cp-02 {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.2px;
}

/* offer */

#contents_offer {
    padding: 20px 10px;
}

#contents_offer .btn-ticket-list {
    border-bottom: 1px solid #fff;
    margin: 0 0 20px 0;
    position: relative;
    padding-bottom: 4px;
}

#contents_offer .cpa_01,
#contents_offer .cpa_02,
#contents_offer .cpa_03,
#contents_offer .cpa_04 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#contents_offer .ticket-offer-box .ticket-fee-box-box {
    width: 85%;
}

#contents_offer .ticket-offer-box .ticket-fee-box-text {
    width: 55%;
}

#contents_offer .ticket-offer-box .ticket-fee-box-fee {
    width: 45%;
}

#contents_offer .ticket-offer-box .ticket-fee-box-text .great {
    padding: 5px 16px;
}

#contents_offer .ticket-offer-box .ticket-fee-box-fee .price {
    font-size: 28px;
}

#contents_offer .ticket-offer-box .ticket-fee-box-text .ticket-name {
    font-size: 15px;
}

#contents_offer .ticket-offer-box .ticket-fee-box-fee .former {
    font-size: 15px;
}

/* ラジオボタンを隠します */
input[type='radio'] {
    display: none;
    width: 15%;
}

/* カスタマイズされたラベルスタイル */
input[type='radio'] + label {
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

/* ラジオボタンがチェックされた時のスタイル */
input[type='radio']:checked + label {
    border-color: #fff;
}

/* チェックされたラジオボタンにカスタムチェックマークを表示 */
input[type='radio']:checked + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #ffc700;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#contents_offer .contents_offer-box {
    border-radius: 6px;
    background: #171717;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

#contents_offer .contents_offer-box h2 {
    color: #ffc700;
    border: 1px solid #fff;
    padding: 14px 0;
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

#contents_offer .accordion {
    width: 100%;
    margin: 20px 0;
}

#contents_offer .accordion button {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ffc602;
    cursor: pointer;
    outline: none;
    color: #ffc602;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

#contents_offer .accordion button .icon {
    transition: transform 0.3s;
    position: absolute;
    right: 0;
}

#contents_offer .accordion button.active .icon {
    transform: rotate(180deg);
}

#contents_offer .accordion-content {
    max-height: 0;
    overflow: hidden;
    border-top: none;
    margin-top: 20px;
}

#contents_offer .ticket-details-box {
    margin-top: 30px;
}

#contents_offer .annotation-text {
    margin: 20px auto;
}

.ticket-offer-box .annotation-text {
    margin-top: 10px;
}

#contents_offer .annotation-text p ,
.ticket-offer-box .annotation-text p{
    color: #ffc700;
    font-size: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}

#contents_offer .ticket-details-box .point p {
    background-color: #2a2a2a;
    border: 1px solid #ffc700;
    color: #ffc700;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 14px 0;
    padding-left: 60px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

#contents_offer .ticket-details-box .point p img{
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 6%;
}

#contents_offer .ticket-details-box .normal-point p {
    border: none;
}

.accordion-content-list {
    background-color: #ffc602;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.accordion-content-list p {
    border: 1px solid #0d0d0d;
    width: 50%;
    padding: 6px 0;
    color: #0d0d0d;
    font-size: 10px;
    font-weight: bold;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

#contents_offer .contents_offer-box .ticket-box {
    border-radius: 0;
    background: none;
    box-shadow: none;
}

#contents_offer .contents_offer-box .btn-etc a img {
    transform: rotateX(180deg);
    padding-bottom: 0px;
    margin-top: 2px;
}

/* overview */

#contents_overview {
    color: #fff;
    padding: 0 20px 40px 20px;
}

#contents_overview .title {
    text-align: center;
    margin-bottom: 40px;
}

#contents_overview .title .logo img {
    width: 40%;
    margin-bottom: 10px;
}

#contents_overview .title p {
    font-size: 12px;
    color: #fff;
    /* margin-bottom: 30px; */
}

#contents_overview .title .logo-img {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#contents_overview .title .day {
    font-size: 42px;
}

#contents_overview .title .time {
    margin-top: -15px;
    font-size: 24px;
}

#contents_overview h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

#contents_overview .text p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 6px;
}

#contents_overview .text .annotation {
    font-size: 12px;
}

#content_bottom-cta {
    padding: 20px 10px;
}

#content_bottom-cta .ticket-box .btn-cta {
    margin: 20px 0;
}

#content_bottom-cta .ticket-box .annotation-text p {
    color: #ffc700;
    font-size: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}

#content_bottom-cta div.btn-etc a img {
    transform: rotateX(180deg);
}

#content_bottom-cta .ticket-box .btn-ticket-list {
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
    margin: 0 0 20px 0;
}

@media screen and (max-width: 450px) {
    #contents_fv {
        margin-bottom: 420px;
    }
    .fv-ticket-box {
        bottom: -420px;
    }
}

@media screen and (max-width: 400px) {
    #contents_fv {
        margin-bottom: 450px;
    }
    .fv-ticket-box {
        bottom: -450px;
    }

    input[type='radio'] + label {
        padding: 10px;
        width: 12px;
        height: 12px;
    }
}
@media screen and (max-width: 420px) {
    #contents_offer .ticket-offer-box .ticket-fee-box-text .ticket-name {
        font-size: 13px;
    }

    #content_bottom-cta .ticket-name {
        font-size: 16px;
    }

    .ticket-fee-box-text .ticket-name {
        font-size: 16px;
    }

}